{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "max-len": "off",
    "no-shadow": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": "*-test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
