language: node_js
node_js:
  - "6"
  - "8"
  - "10"
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - npm install --global yarn
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - npm run cover
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
notifications:
  email: false
