-i https://pypi.org/simple
alabaster==0.7.12
babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
idna==2.8
imagesize==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
packaging==19.0
parsimonious==0.7.0
pygments==2.3.1
pyparsing==2.4.0
pytz==2019.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
sphinx-js==2.7.1
sphinx-rtd-theme==0.4.3
sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
urllib3==1.24.2
